# ty docker compose docks for ![this](https://github.com/docker/awesome-compose/blob/master/react-rust-postgres/compose.yaml)
name: cerberus

services:
  frontend:
  #   # technically this should do the same thing as just build: frontend, but
  #   # this is more clear to me
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
     - 3000:80
    depends_on:
      - db

  backend:
    ports:
      - "8080:8080" # added that to test connection with frontend
    build:
      context: backend
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: root
    volumes:
      - ./backend/src:/code/src
    depends_on:
      - db

  db:
    image: postgres:15 # changed from latest to 15 because got errors from the latest version
    ports:
      - "5432:5432"
    shm_size: 128mb # still don't know what this does, but the docs say to do it
    environment:
      POSTGRES_PASSWORD: root # why do i have to duplicate this ¯\_(ツ)_/¯
    volumes:
      - db-data:/var/lib/postgresql/data
      # https://hub.docker.com/_/postgres#initialization-scripts
      - ./backend/init.sql:/docker-entrypoint-initdb.d/init-user-db.sql

  station_in:
    build:
      context: ./station
      dockerfile: Dockerfile-station
    privileged: true
    environment:
      - DISPLAY=${DISPLAY:-:1}
      - STATION_DIRECTION=IN
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    devices:
      - /dev/video0:/dev/video0
    network_mode: host


  station_out:
    build:
      context: ./station
      dockerfile: Dockerfile-station
    privileged: true
    environment:
      - DISPLAY=${DISPLAY:-:1}
      - STATION_DIRECTION=OUT
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    devices:
      - /dev/video0:/dev/video0
    network_mode: host

volumes:
  db-data: {}
