# ty docker compose docks for ![this](https://github.com/docker/awesome-compose/blob/master/react-rust-postgres/compose.yaml)
name: cerberus

services:
  frontend:
    build: frontend
    ports:
      - 3000:80

  # backend:
  #   build: backend
  #   environment:
  #     POSTGRES_PASSWORD: root
  #     POSTGRES_USER: root
  #   volumes:
  #     - ./backend/src:/code/src
  #     - backend-compile:/code/target
  #   depends_on:
  #     - db

  db:
    image: postgres:latest
    shm_size: 128mb # still don't know what this does, but the docs say to do it
    environment:
      POSTGRES_PASSWORD: root # why do i have to duplicate this ¯\_(ツ)_/¯
    volumes:
      - db-data:/db/data

volumes:
  db-data: {}
  backend-compile: {}
